<!--INICIO DO CONTEUDO-->
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">

               <!-- <pre>{{form.valid}} </pre> <br />
              <pre> {{form.value | json}}</pre> -->

              <form [formGroup]="orderForm" novalidate>
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="page-header">
                      <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <p class="lead">Seus Dados:</p>    
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> Emails não conferem!</span>
                  </div>

                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container errorMessage="Campo obrigatório" label="Nome">
                      <input formControlName="name" class="form-control" autocomplete="off" placeholder="Nome">
                    </mt-input-container>
                  </div>

                  <div class="col-sm-3 col-xs-12">
                    <mt-input-container errorMessage="E-mail é obrigatório" label="E-mail">
                      <input formControlName="email" class="form-control" autocomplete="off" placeholder="E-mail">
                    </mt-input-container>
                  </div>

                  <div class="col-sm-3 col-xs-12">
                    <mt-input-container errorMessage="E-mail é obrigatório" label="Confirmação do E-mail">
                      <input formControlName="emailConfirmation" class="form-control" autocomplete="off" placeholder="Confirmação do E-mail">
                    </mt-input-container>
                  </div>

                </div>



                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container errorMessage="Campo obrigtório" label="Endereço">
                      <input formControlName="address" class="form-control" autocomplete="off" placeholder="Endereço">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container errorMessage="Número é obrigtório e somente números" label="Número">
                      <input formControlName="number" class="form-control" autocomplete="off" placeholder="Número">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Complemento">
                      <input formControlName="optionalAddress" class="form-control" autocomplete="off" placeholder="Complemento">
                    </mt-input-container>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                  </div>
                  <mt-order-items [items]="cartItems()"
                          (increaseQty)="increaseQty($event)"
                          (decreaseQty)="decreaseQty($event)"
                          (removeItem)="removeItem($event)"></mt-order-items>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <!-- accepted payments column -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>

                      <div class="form-group">
                        <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                      </div>

                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Frete e Total:</p>

                    <mt-delivery-costs
                      [delivery]="delivery"
                      [itemsValue]="itemsValueOrderComponent()">
                    </mt-delivery-costs>

                  </div>
                  <!-- /.col -->
                </div>

              </form>

              <div class="row">
                <div class="col-xs-12">
                  <button [disabled]="!orderForm.valid || cartItems().length === 0"
                          type="button" class="btn btn-success pull-right"
                          (click)="checkOrder(orderForm.value)">
                    <i class="fa fa-credit-card"></i> Concluir Pedido
                  </button>
                </div>
              </div>

          </section>
      </section>
      <!-- FIM DO CONTEUDO-->
