<div class="form-group has-feedback" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label>



  <ng-content></ng-content>


  <!-- <span class="help-block" *ngIf="input.valid && (input.dirty || input.touched)"><i class="fa fa-check"></i> Ok</span> -->
  <span class="help-block" *ngIf="showTip && hasError()"><i class="fa fa-remove"></i> {{errorMessage}}</span>
</div>

<!-- <div class="form-group" [class.has-success]="iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"
                        [class.has-error]="!iptAddress.valid && (iptAddress.dirty || iptAddress.touched)">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Endereço</label>
  <input type="text" name="address" required minlength="5" #iptAddress="ngModel" ngModel class="form-control" placeholder="Endereço" autocomplete="off">
  <span class="help-block" *ngIf="iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"><i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="!iptAddress.valid && (iptAddress.dirty || iptAddress.touched)"><i class="fa fa-remove"></i> Campo obrigatório</span>
</div> -->
